html {
  background-color: #db97ae;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
  overflow: auto;
  color: #0FA17E;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  color:black;
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10vh;
  margin-left:1%;
  margin-top:1%;
  line-height: 90%;
  -webkit-text-stroke:0px;
  margin-bottom: 2%;
}
h1 a{
  transition: -webkit-text-stroke 1s, color 1s;
}
/*
.sp {
  display: inline-block;
  line-height: 0pt;
  font-family: "Soundpainting";
  font-size: 15em;
  font-weight: normal;
  margin-left: 10%;
  transition: -webkit-filter 1s linear;
}

.sp:hover {
  cursor: default;
  -webkit-filter: blur(5px);
}*/

h1 a:hover {
  cursor: pointer;
  -webkit-text-stroke: 1px #0FA17E;
  color: #db97ae;
}

.hm {
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: -1%;
}

.droat {
  position: absolute;
  left: 68%;
  top: 80%;
}

p {
  margin:0px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 3.5vh;
  color:black;
  position: absolute;
    top: 15%;
    left: 1%;
    width:50%;
    padding-right: 1%;
    line-height: 118%;
  text-align: left;
}
p i{
  font-style: normal;
}
.esp {
  font-family: "Ortica";
  transition: none;
}

.arch2 {
  margin-top: 0%;
  margin-bottom: 2%;
}

.arch2:hover {
  -webkit-text-stroke: 0px;
  color: #0FA17E;
  cursor: default;
}

i {
  font-family: "Ortica";
}

details {
  position: relative;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3vh;
  transition: background-color 700ms, outline 2s;
}

a {
  text-decoration: none;
  color: inherit;
}

summary::marker {
  content: "";
}

summary:hover {
  color: #db97ae;
  background-color: #0FA17E;
  cursor: pointer;
}
.cool{
  display: block;
  position: fixed;
  top:20%;
  right:2%;
  width:40%;
  filter: grayscale();
}
.cool:hover{
  filter: none;
  mix-blend-mode: normal;
}
summary {
  padding-right: 2px;
  padding-left: 2px;
  white-space: pre;
  transition: background-color 200ms;
}

details[open] {
  color: #db97ae;
  background-color: #0FA17E;
}
.cont{
  display: flex;
    justify-content: center;
}
.video{
  height: 90vh;
  position: absolute;
  top:5vh;left:auto;
  z-index: -1;
  mix-blend-mode: darken;
}

img{
  display: none;
  z-index: 9;
  position: fixed;
  width:400px;
  mix-blend-mode: darken;
}
#one {
  top: 20vh;
  left: 42vw;
}

#two {
  top: 36vh;
  left: 18vw;

}

#three {
  top: 3vh;
  left: 8vw;
}
#four{
  top:40vh;
  left:40vw;
}
#five{bottom:10vh;left:69%;}
summary:hover img {
  display: block;
}

details[open] img {
  display: none;
}

details {
  border-bottom: solid 1px;
  width: 100%;
  margin-left: 0px;
  transition: height 1s ease;
  padding-left: 3px;
  padding-right: 3px;
}

details:not([open]) {
  height: 4vh;
  padding-bottom: 3px;
}
details[open] { height: 29vh; }

.prepart{
  margin-left: -3px;
  overflow-x: auto;
  background-color: #db97ae;
  overflow-y: hidden;
  height:15vh;
  scrollbar-width:none;
}
.prepart::-webkit-scrollbar{
  width: 0px;

}
.partition{
  color:#0FA17E;
  position: relative;
  font-family: "Soundpainting";
  font-size: 15vh;
  width: auto;
  white-space:nowrap;
}

.pratik{
  position: absolute;
  bottom:2%;
  right:2%;
  font-size: 2.5vh;
  font-family: "Poppins";
  font-weight: lighter;
  color:black;
}
u:hover{
  cursor: pointer;
}
em{
 font-style: normal;
}
img.cool:hover + em{
  color:#db97ae;

}
img.cool:hover + em::after{
  font-style: italic;
  font-weight: lighter;
  content:'Lieu Unique Quai Ferdinand-Favre 44000 Nantes, France';
  display:inline-block;
  color:black;
  break-after: always;
}


/*# sourceMappingURL=style.css.map */
